.calendar {
  max-width: 1000px;
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  font-family: 'Fredoka', serif;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
}

.month-label {
  font-size: 1.25rem;
  font-weight: 600;
  color: #444;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.5rem;
}


.weekday {
  padding: 0.25rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-day {
  aspect-ratio: 1;
  background-color: #cae3f7;
  border: 1px solid #afccfa;
  border-radius: 0.5rem;
}